* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
button {
    border: none;
    background: none;
}

body {
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-areas: 
        "Header"
        "Main";
    height: 100vh;
    background-color: #fff;
}

.header {
    grid-area: Header;
    display: grid;
    width: 100%;
    grid-template-rows: auto auto;
    grid-template-areas: 
        "Bando"
        "Menu";
    color: #fff;
    text-align: center;
}
.sidenav {
    grid-area: Menu;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
        "Main-m Mq-m Po-m Pe-m Nc-m";
    
}
.close {
    display: none;
}  
.bando {
    grid-area: Bando;
    display: grid;
    width: 100%;
    grid-template-columns: 0fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
        "Burger Titre Logo";
    place-items: center;
    margin-top: 2vh;
    margin-bottom: 5vh;
}
.main-m {
    grid-area: Main-m;
    display: block;
}
.mq-m {
    grid-area: Mq-m;
    display: block;
}
.po-m {
    grid-area: Po-m;
    display: block;
}
.pe-m {
    grid-area: Pe-m;
    display: block;
}
.nc-m {
    grid-area: Nc-m;
    display: block;
}
.main-m , .nc-m, .po-m, .pe-m, .mq-m {
    font-size: 2vw;
    font-weight: bold;
}
.titre {
    grid-area: Titre;
    display: block;
    align-items: center;
    justify-content: center;
    color: #FF0000;
    font-weight: bold;
    font-size: 4vw;
}
.logo {
    grid-area: Logo;
    display: block;
    place-items: center;
    align-items: center;
    width: 7vw;
    height: 7vw;
    
}
.burger {
    grid-area: Burger;
    display: none;
}

